#divflax{display: flex;
    background-color: white;
    justify-content: center;
    margin-top: 20%;
    max-width: 100%;
    
    


}

article{text-align: center;
    background-color:white;
    width: 25%;
    margin-left: 10px;
    margin-right: 5px;
    border-style: solid;
    border-color: rgb(223, 211, 206);
    border-width: 0.0001px;
    padding-top: 10px;
    border-radius: 5px;
    flex-wrap: wrap;
    box-shadow:5px 2px black ;
   

}

#article-2{text-align: center;
    background-color:rgb(245, 77, 10);
    width: 25%;
    margin-left: 10px;
    margin-right: 5px;
    color: white;
    padding-top: 10px;
    border-radius: 5px;
    flex-wrap: wrap;
    box-shadow: blue 10px 10px;


}




svg{width: 70px;
    height: 70px;
    max-width: 100%;
    max-height: 100%;

}
